* {
  box-sizing: border-box; }

/*******************************************************************************/
/*********************** For mobile phones and tablets**************************/
/*******************************************************************************/
@media only screen and (max-width: 768px) {
  h2.header-content {
    font-family: Calibri;
    margin-top: 1px; }

  img.logo {
    height: 30px;
    width: 30px;
    margin-bottom: 1px; }

  div.sidebar {
    display: none; }

  .nav.navbar-nav.pull-left {
    float: left !important; }

  .push-to-middle {
    margin-left: 30vw;
    font-family: Calibri;
    text-align: center; }

  div.input-group {
    margin: 0 auto 0 6%; }

  .shell-wrap {
    margin: 0 auto 0 6%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3pxl; }

  .shell-top-bar {
    text-align: center;
    color: #525252;
    padding: 5px 0;
    margin: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    border: 1px solid;
    border-bottom: none;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #f7f7f7;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f7f7f7 0%, #B8B8B8 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #B8B8B8));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #B8B8B8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7f7f7 0%, #B8B8B8 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f7f7 0%, #B8B8B8 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f7f7f7 0%, #B8B8B8 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 );
    /* IE6-9 */ }

  .shell-body {
    margin: 0;
    padding: 5px;
    list-style: none;
    background: #141414;
    color: #45D40C;
    font: 0.8em 'Andale Mono', Consolas, 'Courier New';
    line-height: 1.6em;
    height: 70vh;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }

  .shell-body li:before {
    content: '~>';
    position: absolute;
    left: 0;
    top: 0; }

  .shell-body li {
    word-wrap: break-word;
    position: relative;
    padding: 0 0 0 15px; }

  /********************************/
  li.side-bar {
    padding: 10px;
    color: white;
    font-family: Calibri; }

  ul.pull-left {
    float: left !important;
    font-family: Calibri;
    color: white; }

  ul.pull-right {
    float: right !important;
    font-family: Calibri;
    color: white; } }
/*******************************************************************************/
/*********************** For desktops ******************************************/
/*******************************************************************************/
@media only screen and (min-width: 768px) {
  header {
    display: none; }

  .fixed {
    position: fixed; }

  .shell-wrap {
    margin: 0 auto 0 6%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3pxl; }

  .shell-top-bar {
    text-align: center;
    color: #525252;
    padding: 5px 0;
    margin: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    border: 1px solid;
    border-bottom: none;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #f7f7f7;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f7f7f7 0%, #B8B8B8 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #B8B8B8));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #B8B8B8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7f7f7 0%, #B8B8B8 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f7f7 0%, #B8B8B8 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f7f7f7 0%, #B8B8B8 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 );
    /* IE6-9 */ }

  .shell-body {
    margin: 0;
    padding: 5px;
    list-style: none;
    background: #141414;
    color: #45D40C;
    font: 0.8em 'Andale Mono', Consolas, 'Courier New';
    line-height: 1.6em;
    height: 70vh;
    overflow: auto;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }

  .shell-body li:before {
    content: '~>';
    position: absolute;
    left: 0;
    top: 0; }

  .shell-body li {
    word-wrap: break-word;
    position: relative;
    padding: 0 0 0 15px; }

  /********************************/
  .btn-spacing {
    margin: 5px;
    padding: 2px; }

  h2.header-content {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0 0 0 0;
    color: #000000;
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0.2em auto 0.2em auto;
    text-transform: uppercase; }

  .selected-msg {
    background-color: white;
    color: black; }

  /* class for messages added to the messages screen */
  .terminal-msg {
    color: red; }

  .sent-terminal-msg {
    color: #45D40C; }

  .received-terminal-msg {
    color: #00bfff; }

  .terminal-msg:hover {
    background-color: gray; }

  footer {
    font-family: Courier New;
    font-weight: bold; }

  input {
    font-family: Courier New; }

  div.input-group {
    margin: 0 auto 0 6%; }

  body {
    background-color: #f2f2f2; }

  div#mainDiv {
    background-color: white;
    height: 100%; }

  img.logo {
    height: 80px;
    width: 80px; }

  .sidebar-link {
    color: #000000;
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 550;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 16px; }

  .sidebar-link:hover {
    cursor: pointer;
    cursor: hand;
    font-weight: 600; }

  div.sidebar {
    margin-top: 10%; }

  #send-btn {
    position: relative;
    top: 280%;
    left: 40%; } }

/*# sourceMappingURL=main.css.map */
